<div class='container'>
  <div class='row main'>
    <div class=''>
      <div class='row'>
        <h2 class='title'>Rover Test</h2>
      </div>

      <div class='row'>
        <form action="/home" method="post">
          <fieldset>
            <legend> Importar Arquivo</legend>
            <input type="file" name="file" id="file" accept="text/plain"> <br> <br>
            <input type="submit" class="btn btn-primary" name="Enviar">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
